In [109]:
from common import *
import numpy as np
from sklearn.preprocessing import Imputer

X_train,X_test = load_data()

X_train[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

# Drop PassengerId Ticket Cabin Name

In [110]:
X_train.drop(['PassengerId', 'Ticket', 'Cabin', 'Name'], axis=1, inplace=True)
X_test.drop(['PassengerId', 'Ticket', 'Cabin', 'Name'], axis=1, inplace=True)

X_train[0:3]

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

# Age: Fill Nan with mean

In [111]:
age_imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
tmp_age = X_train['Age'].reshape(-1, 1)
age_imp.fit(tmp_age)
X_train['Age'] = age_imp.transform(tmp_age).astype(int)

age_imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
tmp_age = X_test['Age'].reshape(-1, 1)
age_imp.fit(tmp_age)
X_test['Age'] = age_imp.transform(tmp_age).astype(int)

X_train[0:3]

   Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked
0         0       3    male   22      1      0   7.2500        S
1         1       1  female   38      1      0  71.2833        C
2         1       3  female   26      0      0   7.9250        S

# Sex: Set male = 0 & female = 1

In [112]:
X_train.loc[X_train['Sex'] == 'male', 'Sex'] = 0
X_train.loc[X_train['Sex'] == 'female', 'Sex'] = 1

X_test.loc[X_test['Sex'] == 'male', 'Sex'] = 0
X_test.loc[X_test['Sex'] == 'female', 'Sex'] = 1

X_train[0:3]

   Survived  Pclass Sex  Age  SibSp  Parch     Fare Embarked
0         0       3   0   22      1      0   7.2500        S
1         1       1   1   38      1      0  71.2833        C
2         1       3   1   26      0      0   7.9250        S

# Fare fill Nan with mean

In [113]:
fare_imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
tmp_fare = X_train['Fare'].reshape(-1, 1)
fare_imp.fit(tmp_fare)
X_train['Fare'] = fare_imp.transform(tmp_fare).astype(int)

fare_imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
tmp_fare = X_test['Fare'].reshape(-1, 1)
fare_imp.fit(tmp_fare)
X_test['Fare'] = fare_imp.transform(tmp_fare).astype(int)

X_train[0:3]

   Survived  Pclass Sex  Age  SibSp  Parch  Fare Embarked
0         0       3   0   22      1      0     7        S
1         1       1   1   38      1      0    71        C
2         1       3   1   26      0      0     7        S

# Drop Embarked

In [114]:
X_train.drop(['Embarked'], axis=1, inplace=True)
X_test.drop(['Embarked'], axis=1, inplace=True)

X_train[0:3]

   Survived  Pclass Sex  Age  SibSp  Parch  Fare
0         0       3   0   22      1      0     7
1         1       1   1   38      1      0    71
2         1       3   1   26      0      0     7

# Get Training_data and Test_data

In [118]:
X = X_train.drop(['Survived'], axis=1)
y = X_train['Survived']

X_test[0:3]

   Pclass Sex  Age  SibSp  Parch  Fare
0       3   0   34      0      0     7
1       3   1   47      1      0     7
2       2   0   62      0      0     9

# Logistic Regression

In [120]:
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV, cross_val_score

logistic = linear_model.LogisticRegression()

param_grid = [{'C' : np.logspace(-5, 3, 20)}]
clf = GridSearchCV(estimator=logistic, param_grid=param_grid, n_jobs=-1)

clf.fit(X, y)

print clf.best_score_
print clf.best_params_

0.794612794613
{'C': 0.42813323987193957}

# Predict

In [121]:
predict = clf.predict(X_test)
print predict

with open('./data/predict_lr.csv', 'w') as writer:
    writer.write('PassengerId,Survived\n')
    count = 891
    for p in predict:
        count += 1
        writer.write(str(count) + ',' + str(p) + '\n')

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]