In [1]:
from common import *
import numpy as np
from sklearn.preprocessing import Imputer

X_train,X_test = load_data()

X_train[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

# Drop "PassengerId Ticket Cabin Name"

In [2]:
X_train.drop(['PassengerId', 'Ticket', 'Cabin', 'Name'], axis=1, inplace=True)
X_test.drop(['PassengerId', 'Ticket', 'Cabin', 'Name'], axis=1, inplace=True)

X_train[0:3]

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

# Age: Create new feature 'young' 'mid-age'  'old'

In [3]:
median = X_train["Age"].median()
X_train['Age'].fillna(median, inplace=True)
X_train.loc[X_train['Age'] == 0, 'Age'] = median
X_train['Age'] = X_train['Age'].astype(int)

median = X_test["Age"].median()
X_test['Age'].fillna(median, inplace=True)
X_test.loc[X_test['Age'] == 0, 'Age'] = median
X_test['Age'] = X_test['Age'].astype(int)

X_train['young'] = 0
X_train['mid_age'] = 0
X_train['old'] = 0
X_train.loc[X_train['Age'] <= 16, 'young'] = 1
X_train.loc[((X_train['Age'] > 16) & (X_train['Age'] < 65)), 'mid_age'] = 1
X_train.loc[X_train['Age'] >= 65, 'old'] = 1

X_test['young'] = 0
X_test['mid_age'] = 0
X_test['old'] = 0
X_test.loc[X_test['Age'] <= 16, 'young'] = 1
X_test.loc[((X_test['Age'] > 16) & (X_test['Age'] < 65)), 'mid_age'] = 1
X_test.loc[X_test['Age'] >= 65, 'old'] = 1

X_train[0:3]

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,young,mid_age,old
0,0,3,male,22,1,0,7.2500,S,0,1,0
1,1,1,female,38,1,0,71.2833,C,0,1,0
2,1,3,female,26,0,0,7.9250,S,0,1,0

# Sex: Create new feature male and female

In [4]:
X_train['male'] = 0
X_train['female'] = 0
X_train.loc[X_train['Sex'] == 'male', 'male'] = 1
X_train.loc[X_train['Sex'] == 'female', 'female'] = 1

X_test['male'] = 0
X_test['female'] = 0

X_test.loc[X_test['Sex'] == 'male', 'male'] = 1
X_test.loc[X_test['Sex'] == 'female', 'female'] = 1

X_train.drop(['Sex'], axis=1, inplace=True)
X_test.drop(['Sex'], axis=1, inplace=True)

X_train[0:3]

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,young,mid_age,old,male,female
0,0,3,22,1,0,7.2500,S,0,1,0,1,0
1,1,1,38,1,0,71.2833,C,0,1,0,0,1
2,1,3,26,0,0,7.9250,S,0,1,0,0,1

# Fare: Fill Nan with mean

In [5]:
X_train['Fare'].fillna(X_train["Fare"].median(), inplace=True)
X_train['Fare'] = X_train['Fare'].astype(int)

X_test['Fare'].fillna(X_test["Fare"].median(), inplace=True)
X_test['Fare'] = X_test['Fare'].astype(int)

X_train[0:3]

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,young,mid_age,old,male,female
0,0,3,22,1,0,7,S,0,1,0,1,0
1,1,1,38,1,0,71,C,0,1,0,0,1
2,1,3,26,0,0,7,S,0,1,0,0,1

# Drop Embarked

In [6]:
X_train.drop(['Embarked'], axis=1, inplace=True)
X_test.drop(['Embarked'], axis=1, inplace=True)

X_train[0:3]

,Survived,Pclass,Age,SibSp,Parch,Fare,young,mid_age,old,male,female
0,0,3,22,1,0,7,0,1,0,1,0
1,1,1,38,1,0,71,0,1,0,0,1
2,1,3,26,0,0,7,0,1,0,0,1

# SibSp and Parch: Create new feature family

In [7]:
X_train['family'] = X_train['SibSp'] + X_train['Parch']
X_train.loc[X_train['family'] > 0, 'family'] = 1
X_train.loc[X_train['family'] == 0, 'family'] = 0

X_test['family'] = X_test['SibSp'] + X_test['Parch']
X_test.loc[X_test['family'] > 0, 'family'] = 1
X_test.loc[X_test['family'] == 0, 'family'] = 0

X_train.drop(['SibSp', 'Parch'], axis=1, inplace=True)
X_test.drop(['SibSp', 'Parch'], axis=1, inplace=True)

X_train[0:3]

   Survived  Pclass  Age  Fare  young  mid_age  old  male  female  family
0         0       3   22     7      0        1    0     1       0       1
1         1       1   38    71      0        1    0     0       1       1
2         1       3   26     7      0        1    0     0       1       0

# Pclass: Create new feature high, middle, low

In [8]:
X_train['high'] = 0
X_train['mid'] = 0
X_train['low'] = 0
X_train.loc[X_train['Pclass'] == 1, 'high'] = 1
X_train.loc[X_train['Pclass'] == 2, 'mid'] = 1
X_train.loc[X_train['Pclass'] == 3, 'low'] = 1


X_test['high'] = 0
X_test['mid'] = 0
X_test['low'] = 0
X_test.loc[X_test['Pclass'] == 1, 'high'] = 1
X_test.loc[X_test['Pclass'] == 2, 'mid'] = 1
X_test.loc[X_test['Pclass'] == 3, 'low'] = 1

X_train.drop(['Pclass'], axis=1, inplace=True)
X_test.drop(['Pclass'], axis=1, inplace=True)

X_train[0:3]

,Survived,Age,Fare,young,mid_age,old,male,female,family,high,mid,low
0,0,22,7,0,1,0,1,0,1,0,0,1
1,1,38,71,0,1,0,0,1,1,1,0,0
2,1,26,7,0,1,0,0,1,0,0,0,1

# Get Training_data and Test_data

In [9]:
X = X_train.drop(['Survived'], axis=1)
y = X_train['Survived']

X_train[0:3]

,Survived,Age,Fare,young,mid_age,old,male,female,family,high,mid,low
0,0,22,7,0,1,0,1,0,1,0,0,1
1,1,38,71,0,1,0,0,1,1,1,0,0
2,1,26,7,0,1,0,0,1,0,0,0,1

# Logistic Regression

In [10]:
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV, cross_val_score

logistic = linear_model.LogisticRegression()

param_grid = [{'C' : np.logspace(-5, 3, 20)}]
clf = GridSearchCV(estimator=logistic, param_grid=param_grid, n_jobs=-1)

clf.fit(X, y)

print clf.best_score_
print clf.best_params_

0.789001122334
{'C': 7.8475997035146072}

# SVM

In [11]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV, cross_val_score

svc = svm.SVC()

param_grid = [{
        'kernel': ['rbf'], 
        'C': np.logspace(-3, 2, 10), 
        'gamma': np.logspace(-3, 2, 10)
    }]
clf = GridSearchCV(estimator=svc, param_grid=param_grid, n_jobs=-1)

clf.fit(X, y)

print clf.best_score_
print clf.best_params_

0.784511784512
{'kernel': 'rbf', 'C': 100.0, 'gamma': 0.0035938136638046258}

# Random Forest

In [12]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier()

param_grid = [{
        'n_estimators': [100, 1000]
    }]

clf = GridSearchCV(estimator=random_forest, param_grid=param_grid, n_jobs=-1)
clf.fit(X, y)

print clf.best_score_
print clf.best_params_

0.804713804714
{'n_estimators': 100}

# Predict

In [13]:
predict = clf.predict(X_test)

with open('./data/predict.csv', 'w') as writer:
    writer.write('PassengerId,Survived\n')
    count = 891
    for p in predict:
        count += 1
        writer.write(str(count) + ',' + str(p) + '\n')